body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #c1bfb4;
}

.sitetitle{
    color: #83978C
}

ul {
    list-style-type: square;
}

li:nth-child(odd){
    background-color: #83978C;
}

.navbar a {
    text-decoration: none;
    background-color: #60524c;
    border: #b9a789 3px solid;
    margin: 0;
    padding: 8px;
    color: white;
}
.navbar a:hover {
    color:teal;
}

#quote {
    background-color: #b9a789;
    width: 650px;
    height: 30px;
    border: #83978C 5px dotted;
    font-style: italic;
    font-size: 20px;
}

#my-image {
    box-shadow: 2px,1px,black;
}