body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #c1bfb4;
}

.sitetitle{
    color: #83978C
}

ul {
    list-style-type: square;
}

li:nth-child(odd){
    background-color: #83978C;
}

.navbar a {
    text-decoration: none;
    background-color: #60524c;
    margin: 0;
    padding: 8px;
    color: white;
}
.navbar a:hover {
    color:teal;
}
.navbar a:active {
    color:white;
}

#my-image {
    box-shadow: 0,0,2px,1px,black;
}