body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #c1bfb4;
}

.sitetitle{
    color: #83978C
}

#myimage { 
    box-shadow: 0px 0px 2px 1px black;
}